<section class= "d-flex justify-content-center">
<div class= "d-flex"> <%= cost.name %> </div>

<div class="mx-2"> <%= render cost.groups %> </div>

<div class= "mx-2"> <%= cost.amount %> </div>
</section>