<h1 class="text-center"> All Costs </h1>
<section>
<% @user_costs.each do |user_cost| %>
    <div class="text-center costs-section"> 
    <%= user_cost.name %>
    <%= user_cost.amount%> 
    </div>
<% end %>
</section>