<h1 class="text-center"> All Costs </h1>
<section>
<% @all_costs.each do |all_cost| %>
    <div class="text-center costs-section"> 
    <%= all_cost.name %>
    <%= all_cost.amount%> 
    </div>
<% end %>
</section>