<h1 class="text-center"> External Costs</h1>
<div class="d-flex justify-content-center external-costs-section">
 <p> Total Amount: <%= @total %> </p>
</div>
<% @external_costs.each do |external_cost| %>
    <div class="d-flex justify-content-center external-costs-section">
        <%= external_cost.name %>
        <%= external_cost.amount%>
    </div>
<% end %>
