<h1 class="text-center">Grouped Cost </h1>

<% @grouped_costs.each do |grouped_cost| %>
    <div class= "d-flex justify-content-center grouped-cost-section">
        <p class="mx-2"><%= grouped_cost.name %> </p>
        <p class="mx-2"><%= grouped_cost.groups.to_a.first.name %></p>
        <p><%= grouped_cost.amount %> </p>
    </div>
<% end %>